body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
}
.hero-section {
  background-image: url("https://datasnapsolutionsinc.com/assets/images/services/ICT-managment.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  z-index: 1;
}

/* NEW: Content over the overlay */
.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.data-section {
  padding: 60px 0;
}

.button-boxes {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.button-boxes .btn {
  width: 45%;
  color: #0044ff;
  padding: 0.7em 1em;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5em;
  background: #f4f8ff;
  cursor: pointer;
  border: 1px solid #f4f8ff;
  transition: all 0.3s;
  box-shadow: 3px 3px 9px #c5c5c5, -3px -3px 9px #f6faff;
  margin-bottom: 1rem;
  text-align: center;
}

.button-boxes .btn:hover {
  color: #0044ff;
  transform: translateY(-6px);
}

.button-boxes .btn:active {
  color: #0044ff;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #81a5e4;
  border: none;
}
.main-div {
  display: flex;
  flex-direction: column;
}

.main-div h3 {
  color: #0044ff;
  margin-bottom: 2rem !important;
}
.main-content {
  display: flex;
  gap: 2rem;
}

.top-text {
  max-width: 50%;
  text-align: justify;
}
