
.container h3{
    color: #0044ff;
}

.hero-section {
  background-image: url("https://datasnapsolutionsinc.com/img/ev.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-section h1 {
  position: relative;
  z-index: 1;
  font-size: 2.8rem;
  font-weight: bold;
}

.section-content {
  padding: 60px 15px;
}

.btn-custom {
  background-color: #28a745;
  color: white;
  border: 2px solid #1e7e34;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.btn-custom:hover {
  background-color: #218838;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.section-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}



.main-div {
  display: flex;
  flex-direction: column;
}

.main-div h3 {
    color: #0044ff;
    margin-bottom: 2rem !important;
}
.main-content {
    display: flex;
    gap: 2rem;
}

.top-text {
    max-width: 50%;
    text-align: justify;
}


.button-boxes {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.button-boxes .btn {
  width: 40%;
  color: #0044ff;
  padding: 0.7em 1em;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5em;
  background: #f4f8ff;
  cursor: pointer;
  border: 1px solid #f4f8ff;
  transition: all 0.3s;
  box-shadow: 3px 3px 9px #c5c5c5, -3px -3px 9px #f6faff;
  margin-bottom: 1rem;
}

.button-boxes .btn:hover {
  transform: translateY(-6px);
  color: #0044ff;
}

.button-boxes .btn:active {
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #81a5e4;
  border: none;
  color: #0044ff;
}
